language = "python3"
run = "run"

# Course: CS 30
# Period: 2
# Date created: 19/07/21
# Date last modified: 21/07/21
# Name: Humzah Zahid Malik
# Description: Escape from the temple

# imports the variable "sleep" from the function "time"
from time import sleep

# prints the introduction of the game
print("""
You are a adventure-loving traveler who travels around the world, searching for mysteries and myths. 
One day, you hear in a news about reported sightings of long-lost temple.
you leave for Brazil to find the temple
You have now landed in the International Airport of Brasilia. 
While you are on the way towards the temple, you are met by The Others. 
The Others are the keeper of the temple. Presumed dead and extinct, they live in hiding and protect the temple and its treasure.
You are warned against entering the temple and taking its treasure
Nevertheless, You find the temple and enter it. 
You find the treasure but suddenly, the Others know about your plan
Your task is to take the treasure and escape the place safely  without getting caught
You need to get out of the temple, find a boat and escape using the river.
You are in a maze. You need to find your way out of the temple. 

You can go four directions: forward, backward, right, left
""")

# These variables describe the number of repition of each function for incorrect input
num = 1
num_1 = 1
num_2 = 1
num_3 = 1

# this defines the invalid input and prints out a message 
def invalid():
  print("Invalid action")

def repeat():
  for n in range(num_1):
          actions_1()

# This defines the first action which takes the input of the user
def actions():
    action = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left
  quit 
  action: """)
    if action == "forward":
        print("Wall ahead")
    if action == "backward":
        print("Dead end")
    if action == "right":
        print("Watch out: a snake!")
    if action == "left":
        print("You are walking to the left side of the temple")
    if action == "quit":
        print("You have quit the game")
        exit()      
    else:
      print("invalid action")

# This function defines the second action which takes the input of the user
def actions_1():
    action_1 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
    if action_1 == "forward":
      print("Keep walking ahead")
    if action_1 == "backward":
        print("Wrong way!")
        repeat()
    if action_1 == "right":
        print("Wall ahead")
        repeat()
    if action_1 == "left":
        print("Wall ahead")
        repeat()
    else:
      invalid()
      
# This function defines the third action which takes the input of the user
def actions_2():
  action_2 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_2 == "forward":
        print("Keep walking ahead")
  if action_2 == "backward":
        print("Wrong way!")
  if action_2 == "right":
        print("Wall ahead")
  if action_2 == "left":
        print("Wall ahead")
  else:
        print("Invalid action")

# This function defines the fourth action which takes the input of the user
def actions_3():
  action_3 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_3 == "forward":
        print("Dead end")
  if action_3 == "backward":
        print("Wrong way!")
  if action_3 == "right":
        print(" You turn right to keep walking towards the exit")
  if action_3 == "left":
        print("Wrong way! Leads to a room")
  else:
        print("Invalid action")

# This function defines the fifth action which takes the input of the user
def actions_4():
  action_4 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_4 == "forward":
        print("Keep walking")
  if action_4 == "backward":
        print("Wrong way!")
  if action_4 == "right":
        print("Wall ahead ")
  if action_4 == "left":
        print("Wall ahead")
  else:
        print("Invalid action")

# This function defines the sixth action which takes the input of the user
def actions_5():
  action_5 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_5 == "forward":
        print("Keep walking")
  if action_5 == "backward":
        print("Wrong way!")
  if action_5 == "right":
        print("Wall ahead")
  if action_5 == "left":
        print("Wrong way! Leads to a room")
  else:
        print("Invalid action")

# This function defines the seventh action which takes the input of the user
def actions_6():
  action_6 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_6 == "forward":
        print("wall ahead")
  if action_6 == "backward":
        print("Wrong way!")
  if action_6 == "right":
        print("Turn right towards the exit")
  if action_6 == "left":
        print("Wall ahead")
  else:
        print("Invalid action")

# This function defines the eighth action which takes the input of the user
def actions_7():
  action_7 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_7 == "forward":
        print("wall ahead")
  if action_7 == "backward":
        print("Wrong way!")
  if action_7 == "right":
        print("Wall ahead")
  if action_7 == "left":
        print("Turn left. You are getting closer!")
  else:
        print("Invalid action")

# This function defines the final action taken by the user
def actions_8():
  action_8 = input("""
  Choose an action: 
  forward 
  backward 
  right 
  left 
  action: """)
  if action_8 == "forward":
        print("You found the exit!")
  if action_8 == "backward":
        print("Wrong way!")
  if action_8 == "right":
        print("Wall ahead")
  if action_8 == "left":
        print("Wall ahead")
  else:
        print("Invalid action")

# This function prints out the ending message of the game
def end_script():
  print(""" You have successfully escaped out of the temple and you have completed the game. """)

def intro_text():
  words = print(" Congratulations")

for char in words:
  sleep(0.005)
  print(char, end=" ", flush=True)

intro_text()

# This variable repeats the loop 1 times during the game
digit = 1
# This loop repeats all the actions one time before ending the game
for n in range(digit):
  actions()
  actions_1()
  actions_2()
  actions_3()
  actions_4()
  actions_5()
  actions_6()
  actions_7()
  actions_8()
  end_script()